hydra:
  job:
    chdir: false

flow:
  sigma_min: 0.01
  base_scale: 1.
  network:
    type: egnn
    mlp_units: [128, 128, 128] # [256, 256, 256, 256]
    n_blocks_egnn: 3
    n_invariant_feat_hidden: 64
    time_embedding_dim: 8


training:
  batch_size: 64
  seed: 0
  lr: 2e-4
  n_training_iter: 100
  plot_batch_size: 64
  eval_batch_size: 64
  train_set_size: 1000
  test_set_size: 1000
  eval_n_model_samples: 10_000
  eval_exact_log_prob: true
  final_run: false
  n_checkpoints: 0
  n_eval: 5
  save: true
  save_dir: ''
  save_in_wandb_dir: true


logger:
#  list_logger: null
#  pandas_logger:
#    save_period: 1000 # how often to save the pandas dataframe as a csv
  wandb:
    name: dw4_fm_non_exact_density
    project: fab
    entity: flow-ais-bootstrap
    tags: [dw4,flow_matching]
